body {
  margin: 0cm;
  padding: 0;
  margin: auto;
  width: 21cm;
  text-align: justify;
  font-family: 'Roboto', sans-serif;
}

table {
  width: 20cm;
  border-collapse: collapse;
  /* border: 2px solid black; */
}

th {
  border-collapse: collapse;
  /* border: 2px solid black; */
  border-bottom: 1px solid black;
}

.even {
  background-color: #f0f0f0;
}

div {
  width: 19.9cm;
  margin: 0 auto;
  padding: 0.5cm;
  border-collapse: collapse;
  border: 2px solid red;
}

div.refs {
  text-align: left;
  border: 2px dotted red;
}

.figure {
  width: 19.9cm;
  margin: 0 auto;
  padding: 0.5cm;
  border-collapse: collapse;
  border: 2px solid black;
}

pre {
  line-height: 1.3;
  border: 1px solid black;
  padding: 8px;
}

.menu {
  background-color: #e0e0e0;
  padding: 1px;
  font-weight: bold;
}

code.code_em {
  background-color: #e0e0e0;
  padding: 1px;
  color: red;
  font-weight: bold;
  text-decoration-line: none;
}

.code_em {
  background-color:rgb(75, 0, 0);
}

img {
  text-align: center;
  margin: auto;
  display: flex;
}

@media print {
  pre, img, div {page-break-inside: avoid;}
  h2, h3 {break-after: avoid;}
}
